* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #101112;
}

.inline_bloks {
  width: 100% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

a {
  color: #fff;
  font-family: Roboto;
  text-decoration: none;
}

.post {
  margin: 15px 0px 15px 0px;
  padding: 15px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Roboto";
  background-color: #242525;
  border: 1px solid #fff;
  border-radius: 8px;
}

.input {
  width: 100%;
  border: 1px solid #fff;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #242525;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.btn {
  /* align-self: flex-end; */
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #fff;
  background-color: #101112;
  border-radius: 8px;
  font-family: Roboto;
}

.btn:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de,
    0 0 150px #ff00de;
  color: #fff;
  border: 2px solid #fff;
  background-color: #101112;
}

#download {
  padding: 0px;
  border: 0px;
  background-color: transparent;
  border-radius: 0px;
}

.btn:active {
  color: #101112;
  background-color: #fff;
  border: 2px solid #ff00de;
}

.app_btns {
  display: flex;
  justify-content: space-between;
}

.post-list-item {
  display: inline-block;
  margin-right: 10px;
}

.v-dialog-enter-active,
.v-dialog-leave-active {
  transition: all 0.4s;
  
}

.v-dialog-enter-from {
  opacity: 0;

  transform: translate(-100%, 0px);

}

.v-dialog-leave-to {
  opacity: 0;
  
  transform: translate(0px, -100%);
}

.post-list-enter-active,
.post-list-leave-active {
  transition: all 0.6s;
}

.post-list-enter-from{
  opacity: 0;
  transform: translateY(130px);
}

.post-list-leave-to{
  opacity: 0;
  transform: translateX(430px);
}

.post-list-move {
  transition: transform 0.4s;
}

.v-sidebar-enter-active,
.v-sidebar-leave-active {
  transition: all 0.8s;
}

.v-sidebar-enter-from,
.v-sidebar-leave-to {
  transform: translate(100%, 0px);
}

.page_wrapper {
  display: flex;
  margin-top: 15px;
}

.page {
  margin-inline: 5px;
  border: 1px solid black;
  padding: 10px;
}

.current_page {
  border: 2px solid teal;
}

.post_btns {
  max-width: 250px;
  display: grid;
  grid-gap: 2px;
}

.navbar_btns {
  /* height: 100%; */
  margin-left: auto;
}

.Navbar-vue {
  z-index: 10;
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 10px;
  backdrop-filter: blur(5px);
  background-color: rgb(16, 17, 18, 0.7);
}

.Navbar-vue .btn {
  border: none;
  font-size: 1.05em;
  height: 100%;
  background-color: transparent;
  font-family: "ProximaNova", Arial, sans-serif;
  font-weight: bold;
}

.Navbar-vue .btn:hover {
  border: none;
  color: #fff;
}

.menuItem .btn {
  border: none;
  width: 100%;
  font-size: 1.05em;
  background-color: transparent;
  font-family: "ProximaNova", Arial, sans-serif;
  font-weight: bold;
}

.menuItem .btn:hover {
  border: none;
  color: #fff;
}

.padClass {
  padding: 20px;
}

.heroText {
  padding: 3% 10% 3% 10%;
}

h3,
h1,
h4,
h2,
p {
  color: #fff;
  font-family: "Roboto";
}

.text_padding {
  text-align: justify;
  width: 25%;
}

#navbar-vue {
  position: sticky;
  top: 0px;
  width: 100%;
  transition: top 0.55s;
}

.imgCard {
  transition: 0.4s;
}

.imgCard:hover {
  transform: scale(2);
}

.auth {
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  width: 30%;
}

select {
  background-color: #242525;
  font-size: 16px;
  border-radius: 9px;
  /* display: none; */
  height: 40px;
  color: #fff;
  text-align: center;
}

.gridReport {
  margin: 0 15px 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 40px;
}

.box1 {
  grid-column: 2 / 4;
  grid-row: 1/4;
}

.box2 {
  grid-column: 1;
  grid-row: 1 / 4;
}

.box3 {
  grid-row: 4;
  grid-column: 1/4;
}

.box4 {
  grid-row: 1/4;
  grid-column: 1/4;
}

.content {
  position: relative;
  z-index: 2;
}

@media (max-width: 780px) {
  .box1 {
    grid-column: 1 / 4;
    grid-row: 4/5;
  }

  .box2 {
    grid-column: 1/4;
    grid-row: 1 / 4;
  }

  .box3 {
    grid-row: 5;
    grid-column: 1/4;
  }
}

.reportInfo {
  word-break: break-all;
}

.flying_TextY {
  transform: translateY(100%);
  opacity: 0;
  filter: blur(30px);
  /* scale: 0.6; */
  transition: all 0.8s ease 0s;
}

.flying_TextY.element-show {
  transform: translate(0px, 0px);
  opacity: 1;
  filter: blur(0px);
  transition: all 0.9s ease 0s;
}

.flying_TextX {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur(10px);
  scale: 0.6;
  transition: all 1s ease 0s;
}

.flying_TextX.element-show {
  transform: translate(0px, 0px);
  opacity: 1;
  filter: blur(0px);
  scale: 1;
  transition: all 0.9s ease 0s;
}

.userCardHidden {
  transform: rotate(180deg);
  opacity: 0.1;
  filter: blur(10px);
  scale: 0.8;
}

.userCardHidden.element-show {
  transform: rotate(0deg);
  opacity: 1;
  filter: blur(0px);
  scale: 1;
  transition: all 0.9s ease 0.1s;
}

.paralax {
  min-height: 100vh;
}

.paralax-body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  background-color: #101112;
  padding-bottom: 1px;
}

.parallax__layer {
  transition: transform 0.3s linear;
  will-change: transform;
}

.fixed {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 25px;
  background: #555;
  position: fixed;
  color: #fff;
  -webkit-transition: bottom 0.2s ease-out 0s;
  -moz-transition: bottom 0.2s ease-out 0s;
  -o-transition: bottom 0.2s ease-out 0s;
  transition: bottom 0.2s ease-out 0s;
}

.fixed-top {
  bottom: 0;
}

.fixed-bottom {
  bottom: -75px;
}

.block_center {
  display: flex;
  align-items: center;
}

.mainParagrah h3 {
  width: 100%;
  padding: 10px 5px 10px 5px;
  font-size: 2.3em;
  word-break: break-word;
  min-height: 70px;
  line-height: 50px;
  text-align: center;
}
